extends ../layouts/master.pug

block variables
    - var PageID = 'authentication'

block title
    title Authentication - Job Portal HTML Template

block header
    include ../components/header.pug

block content
    .box-heading
        .box-title 
            h3.mb-35 Authentication
        .box-breadcrumb 
            .breadcrumbs
                ul 
                    li 
                        a.icon-home(href='index.html') Admin
                    li
                        span Authentication
    .row 
        .col-lg-12 
            include ../sections/authentication_sec1.pug

    .mt-10 
        include ../sections/dashboard_sec7.pug

    include ../components/apply-job-modal.pug

block scripts-custom