extends ../layouts/master.pug

block variables
    - var PageID = 'my-resume'

block title
    title Jobbox My Resume - Job Portal HTML Template 

block header
    include ../components/header.pug

block content
    .box-heading
        .box-title 
            h3.mb-35 My Resume
        .box-breadcrumb 
            .breadcrumbs
                ul 
                    li 
                        a.icon-home(href='index.html') Admin
                    li
                        span My Resume
    .row 
        .col-lg-12
            include ../sections/resume_sec1.pug 

    .mt-10 
        include ../sections/dashboard_sec7.pug

block scripts-custom
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js")