.section-box
    .container 
        .panel-white
            .panel-head 
                h5 Top Recruiters
                a.menudrop#dropdownMenu5(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                ul.dropdown-menu.dropdown-menu-light.dropdown-menu-end(aria-labelledby='dropdownMenu5')
                    li
                        a.dropdown-item.active(href='#') Add new
                    li
                        a.dropdown-item(href='#') Settings
                    li
                        a.dropdown-item(href='#') Actions
            .panel-body
                .row 
                    .col-lg-6.col-md-6.pr-5.pl-5
                        +cardstyle4('assets/imgs/page/dashboard/avata1.png', 'Robert Fox', 'UI/UX Designer', 'Red, CA')
                    .col-lg-6.col-md-6.pr-5.pl-5
                        +cardstyle4('assets/imgs/page/dashboard/avata2.png', 'Cody Fisher', 'Frontend Developer', 'Chicago, US')
                    .col-lg-6.col-md-6.pr-5.pl-5
                        +cardstyle4('assets/imgs/page/dashboard/avata3.png', 'Jane Cooper', 'Social Network', 'Austin, TX')
                    .col-lg-6.col-md-6.pr-5.pl-5
                        +cardstyle4('assets/imgs/page/dashboard/avata4.png', 'Jerome Bell', 'Server Manager', 'Remote')
                    .col-lg-6.col-md-6.pr-5.pl-5
                        +cardstyle4('assets/imgs/page/dashboard/avata5.png', 'Floyd Miles', 'Graphic Designer', 'Boston, US')
                    .col-lg-6.col-md-6.pr-5.pl-5
                        +cardstyle4('assets/imgs/page/dashboard/avata1.png', 'Devon Lane', 'Web designer', 'Chicago, US')