.section-box
    .container 
        .panel-white.pt-30.pb-30.pl-15.pr-15
            .box-swiper
                .swiper-container.swiper-group-10
                    .swiper-wrapper
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/microsoft.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/sony.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/acer.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/nokia.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/asus.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/casio.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/dell.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/panasonic.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/vaio.svg', alt='jobBox')
                        .swiper-slide 
                            img(src='assets/imgs/page/dashboard/sony.svg', alt='jobBox')