.section-box
    .row 
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6 
            +cardstyle1('assets/imgs/page/dashboard/computer.svg', '1568', '25', 'Interview Schedules')
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/page/dashboard/bank.svg', '284', '5', 'Applied Jobs')
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/page/dashboard/lamp.svg', '136', '12', 'Task Bids Won')
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/page/dashboard/headphone.svg', '985', '5', 'Application Sent')
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/page/dashboard/look.svg', '165', '15', 'Profile Viewed')
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/page/dashboard/open-file.svg', '2356', '', 'New Messages')
                span.font-sm.status.down - 2%
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/page/dashboard/doc.svg', '254', '2', 'Articles Added')
        .col-xxl-3.col-xl-6.col-lg-6.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/page/dashboard/man.svg', '548', '48', 'CV Added')