.section-box
    .container 
        .panel-white.mb-30
            .box-padding
                include ../elements/box-filters-job.pug
                .row.display-list
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img1.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                            a.btn.btn-tag Figma
                            a.btn.btn-tag Adobe XD
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img2.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6    
                        +cardstyle2('assets/imgs/page/dashboard/img3.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6    
                        +cardstyle2('assets/imgs/page/dashboard/img4.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img1.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                            a.btn.btn-tag Figma
                            a.btn.btn-tag Adobe XD
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img2.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6    
                        +cardstyle2('assets/imgs/page/dashboard/img3.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6    
                        +cardstyle2('assets/imgs/page/dashboard/img4.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6    
                        +cardstyle2('assets/imgs/page/dashboard/img3.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6    
                        +cardstyle2('assets/imgs/page/dashboard/img4.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                    .col-lg-6
                        +cardstyle2('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '3', '$500', 'New York, US')
                include ../elements/pagination.pug