.section-box
    .container 
        .panel-white.mb-30
            .box-padding                
                .login-register 
                    .row.login-register-cover.pb-250
                        .col-lg-4.col-md-6.col-sm-12.mx-auto
                            .form-login-cover
                                .text-center
                                    p.font-sm.text-brand-2 Welcome back! 
                                    h2.mt-10.mb-5.text-brand-1 Member Login
                                    p.font-sm.text-muted.mb-30 Access to all features. No credit card required.
                                    button.btn.social-login.hover-up.mb-20
                                        img(src="assets/imgs/template/icons/icon-google.svg", alt="jobbox")
                                        strong Sign in with Google
                                    .divider-text-center
                                        span Or continue with
                                form.login-register.text-start.mt-20(action="#")
                                    +inputWithLabel('input-1', 'Username or Email address *', 'text', 'fullname', 'Steven Job')                        
                                    +inputWithLabel('input-4', 'Password *', 'password', 'password', '************')
                                    .login_footer.form-group.d-flex.justify-content-between
                                        label.cb-container
                                            input(type='checkbox')
                                            span.text-small Remenber me
                                            span.checkmark
                                        a.text-muted(href='#') Forgot Password
                                    .form-group
                                        button.btn.btn-brand-1.hover-up.w-100(type='submit', name='login') Login
                                    .text-muted.text-center Don't have an Account? 
                                        a(href='register.html') Sign up
                            .img-2
                                img(src="assets/imgs/page/login-register/img-3.svg", alt="JobBox")