.section-box
    .container 
        .panel-white.mb-30
            .box-padding.bg-postjob
                h5.icon-edu Tell us about your role
                .row.mt-30
                    .col-lg-9
                        .row
                            .col-lg-12
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 Job title *
                                    input.form-control(type='text', placeholder='e.g. Senior Product Designer')
                            .col-lg-12 
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 Add your job description *
                                    textarea.form-control(name="message", rows="8") 
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at sem id enim suscipit commodo nec in ante. Sed viverra vel leo vitae pharetra. Morbi viverra venenatis neque, eu porttitor diam blandit nec. Etiam et volutpat magna, id molestie quam. Vestibulum vel libero gravida, scelerisque arcu eu, maximus mi. Suspendisse eu dolor lobortis, posuere enim venenatis, posuere quam.
                                        |
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at sem id enim suscipit commodo nec in ante. Sed viverra vel leo vitae pharetra. Morbi viverra venenatis neque, eu porttitor diam blandit nec. Etiam et volutpat magna, id molestie quam. Vestibulum vel libero gravida, scelerisque arcu eu, maximus mi. Suspendisse eu dolor lobortis, posuere enim venenatis, posuere quam.
                            .col-lg-6.col-md-6
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 Job location
                                    input.form-control(type='text', placeholder='e.g. "New York City" or "San Francisco”')
                            .col-lg-6.col-md-6
                                .form-group.mb-30
                                    label.font-sm.color-text-mutted.mb-10 Workplace type *
                                    select.form-control
                                        option(value='1') Remote
                                        option(value='1') Office
                            .col-lg-6.col-md-6
                                .form-group.mb-30
                                    label.font-sm.color-text-mutted.mb-10 Salary
                                    input.form-control(type='text', placeholder='$2200 - $2500')
                            .col-lg-6.col-md-6
                                .form-group.mb-30
                                    label.font-sm.color-text-mutted.mb-10 Tags (optional) 
                                    input.form-control(type='text', placeholder='Figma, UI/UX, Sketch...')
                            .col-lg-6.col-md-6
                                .form-group.mb-30
                                    .box-upload
                                        .add-file-upload
                                            input.fileupload(type="file", name='file')
                                        a.btn.btn-default Upload File
                            .col-lg-6.col-md-6
                                .form-group.mb-30.box-file-uploaded.d-flex.align-items-center
                                    span Job_required.pdf
                                    a.btn.btn-delete Delete
                            .col-lg-12 
                                .form-group.mt-10
                                    button.btn.btn-default.btn-brand.icon-tick Post New Job