.section-box
    .container 
        .panel-white.mb-30
            .box-padding
                h6.color-text-paragraph-2 Update your profile
                .box-profile-image 
                    .img-profile 
                        img(src="assets/imgs/page/profile/img-profile.png", alt="jobBox")
                    .info-profile 
                        a.btn.btn-default Upload Avatar
                        a.btn.btn-link Delete
                
                .row 
                    .col-lg-6.col-md-6
                        .form-group.mb-30 
                            label.font-sm.color-text-mutted.mb-10 Full Name *
                            input.form-control(type='text',  placeholder='Steven Job')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Email *
                            input.form-control(type='text',  placeholder='stevenjob@gmail.com')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Contact number
                            input.form-control(type='text',  placeholder='01 - 234 567 89')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Personal website
                            input.form-control(type='text',  placeholder='https://alithemes.com')
                    .col-lg-12 
                        .form-group.mb-30 
                            label.font-sm.color-text-mutted.mb-10 Bio
                            textarea.form-control(name="message", rows="5") We are AliThemes , a creative and dedicated group of individuals who love web development almost as much as we love our customers. We are passionate team with the mission for achieving the perfection in web design.
                    .col-lg-6.col-md-6
                        .form-group.mb-30 
                            label.font-sm.color-text-mutted.mb-10 Experience
                            input.form-control(type='text',  placeholder='1 - 5 Years')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Education Levels
                            input.form-control(type='text',  placeholder='Certificate')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Languages
                            input.form-control(type='text',  placeholder='English, French')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Categories 
                            input.form-control(type='text',  placeholder='UI/UX designer')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Current Salary($)
                            input.form-control(type='text',  placeholder='$2500')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Expected Salary($) 
                            input.form-control(type='text',  placeholder='$3500')
                    .col-lg-12 
                        .form-group.mt-10
                            button.btn.btn-default.btn-brand.icon-tick Save Change
        .panel-white.mb-30
            .box-padding
                h6.color-text-paragraph-2 Contact Information
                .row.mt-30
                    .col-lg-6.col-md-6
                        .form-group.mb-30 
                            label.font-sm.color-text-mutted.mb-10 Country
                            input.form-control(type='text',  placeholder='United States of America')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 City
                            input.form-control(type='text',  placeholder='Chicago')
                    .col-lg-12
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Complete Address
                            input.form-control(type='text',  placeholder='205 North Michigan Avenue, Suite 810, Chicago, 60601, USA')
                    .col-lg-12
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Find On Map
                            input.form-control(type='text',  placeholder='205 North Michigan Avenue, Suite 810, Chicago, 60601, USA')
                    .col-lg-6.col-md-6
                        .form-group.mb-30 
                            label.font-sm.color-text-mutted.mb-10 Latitude
                            input.form-control(type='text',  placeholder='41.881832')
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Longitude
                            input.form-control(type='text',  placeholder=' -87.623177')
                    .col-lg-12
                        .form-group.mb-30
                            label.font-sm.color-text-mutted.mb-10 Google Map
                            .box-map 
                                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.4860084541583!2d-87.62575418429162!3d41.88608087922149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca8b34afe61%3A0x6caeb5f721ca846!2s205%20N%20Michigan%20Ave%20Suit%20810%2C%20Chicago%2C%20IL%2060601%2C%20Hoa%20K%E1%BB%B3!5e1!3m2!1svi!2s!4v1663165156864!5m2!1svi!2s', width='100%', height='400', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
                    .col-lg-12 
                        .form-group.mt-0
                            button.btn.btn-default.btn-brand.icon-tick Save Change