.section-box
    .container 
        .panel-white
            .panel-head 
                h5 My Skill
                a.menudrop#dropdownMenu3(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                ul.dropdown-menu.dropdown-menu-light.dropdown-menu-end(aria-labelledby='dropdownMenu3')
                    li
                        a.dropdown-item.active(href='#') Add new
                    li
                        a.dropdown-item(href='#') Settings
                    li
                        a.dropdown-item(href='#') Actions
            .panel-body.pt-20
                .row
                    .col-lg-12 
                        .form-group.mb-30 
                            input.form-control.icon-search-right(type='text', placeholder='E.g. Angular, Laravel...')
                    .col-lg-12 
                        .mb-20
                            a.btn.btn-tag.tags-link Figma
                                span
                            a.btn.btn-tag.tags-link Adobe XD
                                span
                            a.btn.btn-tag.tags-link NextJS
                                span
                            a.btn.btn-tag.tags-link React
                                span
                            a.btn.btn-tag.tags-link App
                                span
                            a.btn.btn-tag.tags-link Digital
                                span
                            a.btn.btn-tag.tags-link NodeJS
                                span
                        .mt-30.mb-40 
                            span.info-icon.font-sm.color-text-paragraph-2 You can add up to 15 skills
                    .col-lg-12 
                        .form-group.mt-0
                            button.btn.btn-default.btn-brand.icon-tick Save Change