.section-box
    .container 
        .panel-white.mb-30
            .box-padding
                h5 Update your CV
                .row.mt-30
                    .col-lg-6.col-md-6
                        .form-group.mb-30
                            .box-upload
                                .add-file-upload
                                    input.fileupload(type="file", name='file')
                                a.btn.btn-default Upload File
                    .col-lg-6.col-md-6
                        .form-group.mb-30.d-flex.align-items-center.box-file-uploaded
                            span Job_required.pdf
                            a.btn.btn-delete Delete
        .panel-white.mb-30
            .box-padding
                h5.icon-edu Education
                .row.mt-30
                    .col-lg-9
                        .row
                            .col-lg-6.col-md-6
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 From
                                    input.form-control(type='date', data-date-format="DD MMMM YYYY", data-date="17 September 2026", value="2026-09-20", placeholder='12 September 2008')
                            .col-lg-6.col-md-6
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 To
                                    input.form-control(type='date', data-date-format="DD MMMM YYYY", data-date="17 September 2026", value="2026-09-20", placeholder='12 September 2008')
                            .col-lg-12 
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 Description
                                    textarea.form-control(name="message", rows="5") 
                                        | Product Designer - Spotify Inc.
                                        |
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante
                                        | ipsum primis in faucibus.
                            .col-lg-12 
                                .form-group.mt-10
                                    button.btn.btn-default.btn-brand.icon-tick Add Timeline
                        .box-timeline.mt-50
                            +Timeline('2008 - 2012', 'National Design Academy', 'Lorem ipsum dolor sit amet, consectetur dipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.')
                            +Timeline('2012 - 2014', 'University of Oxford', 'Lorem ipsum dolor sit amet, consectetur dipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.')
                            +Timeline('2014 - 2016', 'California Institute of Technology', 'Lorem ipsum dolor sit amet, consectetur dipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.')
                            +Timeline('2016 - Now', 'Stanford University', 'Lorem ipsum dolor sit amet, consectetur dipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.')
        
        .panel-white.mb-30
            .box-padding
                h5.icon-edu Work & Experience
                .row.mt-30
                    .col-lg-9
                        .row
                            .col-lg-6.col-md-6
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 From
                                    input.form-control(type='date', data-date-format="DD MMMM YYYY", data-date="17 September 2026", value="2026-09-20", placeholder='12 September 2008')
                            .col-lg-6.col-md-6
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 To
                                    input.form-control(type='date', data-date-format="DD MMMM YYYY", data-date="17 September 2026", value="2026-09-20", placeholder='12 September 2008')
                            .col-lg-12 
                                .form-group.mb-30 
                                    label.font-sm.color-text-mutted.mb-10 Description
                                    textarea.form-control(name="message", rows="5") 
                                        | Product Designer - Spotify Inc.
                                        |
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante
                                        | ipsum primis in faucibus.
                            .col-lg-12 
                                .form-group.mt-10
                                    button.btn.btn-default.btn-brand.icon-tick Add Timeline
                        .box-timeline.mt-50
                            +Timeline('2008 - 2012', 'Samoo Architects & Engineers', 'Lorem ipsum dolor sit amet, consectetur dipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.')
                            +Timeline('2012 - 2014', 'Foster & Partners', 'Lorem ipsum dolor sit amet, consectetur dipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.')
                            +Timeline('2014 - 2016', 'Skidmore Owings & Merrill', 'Lorem ipsum dolor sit amet, consectetur dipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.')