.section-box
    .container 
        .panel-white.mb-30
            .box-padding
                .row.display-list
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img1.png', 'Senior Full Stack Engineer, Creator Success', '1', '80')
                            a.btn.btn-tag.high High
                            a.btn.btn-tag.planing Planing
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img2.png', 'Senior Full Stack Engineer, Creator Success', '3', '68')
                            a.btn.btn-tag.mid Medium
                            a.btn.btn-tag.in-progress In Progress
                    .col-xl-3.col-lg-4.col-md-6    
                        +cardTask('assets/imgs/page/dashboard/img3.png', 'Senior Full Stack Engineer, Creator Success', '4', '20')
                            a.btn.btn-tag.low Low
                            a.btn.btn-tag.in-progress In Progress
                    .col-xl-3.col-lg-4.col-md-6    
                        +cardTask('assets/imgs/page/dashboard/img4.png', 'Senior Full Stack Engineer, Creator Success', '5', '100')
                            a.btn.btn-tag.complete Completed
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '8', '100')
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '12', '100')
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img1.png', 'Senior Full Stack Engineer, Creator Success', '14', '100')
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img2.png', 'Senior Full Stack Engineer, Creator Success', '23', '100')
                    .col-xl-3.col-lg-4.col-md-6    
                        +cardTask('assets/imgs/page/dashboard/img3.png', 'Senior Full Stack Engineer, Creator Success', '25', '100')
                    .col-xl-3.col-lg-4.col-md-6    
                        +cardTask('assets/imgs/page/dashboard/img4.png', 'Senior Full Stack Engineer, Creator Success', '26', '100')
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '30', '100')
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '32', '100')
                    .col-xl-3.col-lg-4.col-md-6    
                        +cardTask('assets/imgs/page/dashboard/img3.png', 'Senior Full Stack Engineer, Creator Success', '34', '100')
                    .col-xl-3.col-lg-4.col-md-6    
                        +cardTask('assets/imgs/page/dashboard/img4.png', 'Senior Full Stack Engineer, Creator Success', '36', '100')
                    .col-xl-3.col-lg-4.col-md-6
                        +cardTask('assets/imgs/page/dashboard/img5.png', 'Senior Full Stack Engineer, Creator Success', '3', '100')
                    .col-xl-3.col-lg-4.col-md-6    
                        +cardTask('assets/imgs/page/dashboard/img4.png', 'Senior Full Stack Engineer, Creator Success', '36', '100')
                include ../elements/pagination.pug