footer.footer.mt-20
  .container
    .box-footer
      .row
        .col-md-6.col-sm-12.mb-25.text-center.text-md-start
          p.font-sm.color-text-paragraph-2 © 2026 - 
            a.color-brand-2(href='https://themeforest.net/item/jobbox-job-portal-html-bootstrap-5-template/39217891', target='_blank') JobBox 
            | Dashboard 
            span  Made by  
            a.color-brand-2(href='http://alithemes.com', target='_blank')  AliThemes
        .col-md-6.col-sm-12.text-center.text-md-end.mb-25
          ul.menu-footer
            li
              a(href='#') About
            li
              a(href='#') Careers
            li
              a(href='#') Policy
            li
              a(href='#') Contact