- var NavItems = [ {'title':'Dashboard', 'url':'index', 'img':'dashboard.svg'}, {'title':'Candidates', 'url':'candidates', 'img':'candidates.svg'}, {'title':'Recruiters', 'url':'recruiters', 'img':'recruiters.svg'}, {'title':'My Jobs', 'url':'my-job-grid', 'img':'jobs.svg'}, {'title':'Tasks List', 'url':'my-tasks-list', 'img':'tasks.svg'}, {'title':'My Profiles', 'url':'profile', 'img':'profiles.svg'}, {'title':'CV Manage', 'url':'my-resume', 'img':'cv-manage.svg'}, {'title':'Setting', 'url':'settings', 'img':'settings.svg'}, {'title':'Authentication', 'url':'authentication', 'img':'authentication.svg'}, {'title':'Logout', 'url':'login', 'img':'logout.svg'} ];

nav.nav-main-menu
    ul.main-menu
        each item in NavItems
            li  
                if PageID === item.url
                    a(class="dashboard2 active", href= item.url  + '.html')
                        img(src='assets/imgs/page/dashboard/'+ item.img, alt='jobBox')              
                        span.name= item.title
                else
                    a(class="dashboard2", href= item.url  + '.html')
                        img(src='assets/imgs/page/dashboard/'+ item.img, alt='jobBox')              
                        span.name= item.title