.nav
    a.btn.btn-expanded
    include ../components/main-menu.pug
    .border-bottom.mb-20.mt-20
    .box-profile-completed.text-center.mb-30
        #circle-staticstic-demo
        h6.mb-10 Profile Completed
        p.font-xs.color-text-mutted Please add detailed information to your profile. This will help you develop your career more quickly.
    .sidebar-border-bg.mt-50
        span.text-grey WE ARE
        span.text-hiring HIRING
        p.font-xxs.color-text-paragraph.mt-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto
        .mt-15
            a.btn.btn-paragraph-2(href='#') Know More
